# Worksheet of Overreaction Testing
_Lembar Kerja Pengujian Overreaction_

## Preparation
_Persiapan_

In [55]:
import yfinance as yf

ticker_related = [
    "SMCB.JK", "BRNA.JK", "UNIC.JK", "CTBN.JK", "INTP.JK", "INTD.JK", "TKIM.JK", "INCO.JK", "TBMS.JK", "LMSH.JK",
    "INRU.JK", "TRST.JK", "ALKA.JK", "INKP.JK", "INCI.JK", "DPNS.JK", "EKAD.JK", "IGAR.JK", "SMGR.JK", "AKPI.JK",
    "SRSN.JK", "BRPT.JK", "ADMG.JK", "SULI.JK", "SIMA.JK", "SPMA.JK", "INAI.JK", "FASW.JK", "TINS.JK", "KDSI.JK",
    "PICO.JK", "ALMI.JK", "LTLS.JK", "JKSW.JK", "DKFT.JK", "ANTM.JK", "TIRT.JK", "BMSR.JK", "APLI.JK", "BTON.JK",
    "CLPI.JK", "CITA.JK", "FPNI.JK", "PSAB.JK", "SQMI.JK", "OKAS.JK", "YPAS.JK", "TPIA.JK", "KBRI.JK", "NIKL.JK",
    "GDST.JK", "IPOL.JK", "KRAS.JK", "BRMS.JK", "ALDO.JK", "BAJA.JK", "ESSA.JK", "ISSP.JK", "SMBR.JK", "TALF.JK",
    "WTON.JK", "MDKA.JK", "INCF.JK", "WSBP.JK", "AGII.JK", "KMTR.JK", "MDKI.JK", "ZINC.JK", "PBID.JK", "TDPM.JK",
    "SWAT.JK", "MOLI.JK", "HKMU.JK",
]

ticker_market = "^JKSE"

In [56]:
result_ban = yf.download(ticker_related, "2019-08-23", "2019-09-06", group_by="column")
result_market_ban = yf.download(ticker_market, "2019-08-23", "2019-09-06", group_by="column")
result_los = yf.download(ticker_related, "2022-11-13", "2022-11-28", group_by="column")
result_market_los = yf.download(ticker_market, "2022-11-13", "2022-11-28", group_by="column")

[*********************100%***********************]  73 of 73 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  73 of 73 completed
[*********************100%***********************]  1 of 1 completed

In [31]:
ban_list = result_ban['Close']
ban_list

,ADMG.JK,AGII.JK,AKPI.JK,ALDO.JK,ALKA.JK,ALMI.JK,ANTM.JK,APLI.JK,BAJA.JK,BMSR.JK,...,TINS.JK,TIRT.JK,TKIM.JK,TPIA.JK,TRST.JK,UNIC.JK,WSBP.JK,WTON.JK,YPAS.JK,ZINC.JK
Date,,,,,,,,,,,,,,,,,,,,,
2019-08-23,236.0,620.0,472.0,372.0,486.0,494.0,1015.0,120.0,83.0,70.0,...,975.0,67.0,9975.0,2100.00,370.0,4010.0,344.0,496.0,456.0,565.0
2019-08-26,234.0,615.0,422.0,370.0,434.0,494.0,1030.0,120.0,83.0,82.0,...,965.0,66.0,9375.0,2106.25,370.0,4010.0,338.0,505.0,560.0,570.0
2019-08-27,230.0,620.0,422.0,370.0,490.0,494.0,1020.0,120.0,82.0,81.0,...,960.0,69.0,9475.0,2137.50,370.0,4260.0,342.0,510.0,480.0,570.0
2019-08-28,226.0,625.0,428.0,372.0,476.0,458.0,1050.0,110.0,80.0,81.0,...,995.0,69.0,9475.0,2168.75,370.0,4260.0,338.0,496.0,570.0,570.0
2019-08-29,226.0,620.0,458.0,372.0,520.0,466.0,1055.0,120.0,79.0,81.0,...,990.0,69.0,9825.0,2187.50,370.0,4260.0,336.0,484.0,565.0,565.0
2019-08-30,224.0,615.0,430.0,372.0,520.0,480.0,1070.0,120.0,78.0,81.0,...,980.0,72.0,9950.0,2206.25,370.0,4260.0,338.0,490.0,560.0,560.0
2019-09-02,212.0,620.0,450.0,372.0,496.0,480.0,1170.0,119.0,77.0,81.0,...,1110.0,70.0,9750.0,2225.00,370.0,4260.0,328.0,478.0,585.0,560.0
2019-09-03,208.0,620.0,424.0,372.0,520.0,470.0,1110.0,119.0,77.0,81.0,...,1055.0,69.0,9450.0,2218.75,380.0,4260.0,330.0,474.0,550.0,560.0
2019-09-04,206.0,615.0,416.0,372.0,480.0,464.0,1100.0,119.0,76.0,81.0,...,1080.0,70.0,9300.0,2243.75,380.0,4260.0,332.0,476.0,610.0,600.0
2019-09-05,204.0,620.0,416.0,370.0,480.0,462.0,1100.0,119.0,76.0,81.0,...,1230.0,69.0,9900.0,2231.25,380.0,4260.0,330.0,482.0,496.0,615.0

In [65]:
ban_market_list = result_market_ban['Close'].to_frame() 
ban_market_list

                  Close
Date
2019-08-23  6255.597168
2019-08-26  6214.509766
2019-08-27  6278.170898
2019-08-28  6281.645996
2019-08-29  6289.119141
2019-08-30  6328.470215
2019-09-02  6290.545898
2019-09-03  6261.589844
2019-09-04  6269.664062
2019-09-05  6306.803223

In [51]:
los_list = result_los['Close']
los_list

,ADMG.JK,AGII.JK,AKPI.JK,ALDO.JK,ALKA.JK,ALMI.JK,ANTM.JK,APLI.JK,BAJA.JK,BMSR.JK,...,TINS.JK,TIRT.JK,TKIM.JK,TPIA.JK,TRST.JK,UNIC.JK,WSBP.JK,WTON.JK,YPAS.JK,ZINC.JK
Date,,,,,,,,,,,,,,,,,,,,,
2022-11-14,156.0,2120.0,1400.0,835.0,286.0,282.0,2120.0,196.0,142.0,635.0,...,1445.0,55.0,8125.0,2370.0,710.0,10625.0,95.0,208.0,650.0,50.0
2022-11-15,155.0,2190.0,1435.0,840.0,278.0,284.0,2160.0,194.0,138.0,630.0,...,1445.0,56.0,8150.0,2380.0,730.0,10950.0,95.0,206.0,680.0,50.0
2022-11-16,156.0,2130.0,1410.0,850.0,278.0,286.0,2030.0,194.0,147.0,630.0,...,1390.0,56.0,7900.0,2370.0,740.0,10975.0,95.0,206.0,850.0,50.0
2022-11-17,156.0,2030.0,1385.0,845.0,282.0,278.0,1975.0,193.0,147.0,685.0,...,1375.0,57.0,7725.0,2340.0,740.0,10500.0,95.0,210.0,795.0,50.0
2022-11-18,156.0,2070.0,1365.0,840.0,280.0,286.0,1960.0,191.0,146.0,680.0,...,1335.0,56.0,8050.0,2380.0,740.0,10400.0,95.0,206.0,990.0,50.0
2022-11-21,156.0,2100.0,1385.0,860.0,270.0,282.0,1960.0,193.0,144.0,850.0,...,1330.0,57.0,8275.0,2350.0,740.0,10275.0,95.0,206.0,925.0,50.0
2022-11-22,156.0,2110.0,1385.0,925.0,272.0,284.0,1935.0,194.0,167.0,900.0,...,1330.0,57.0,8225.0,2340.0,740.0,10275.0,95.0,206.0,865.0,50.0
2022-11-23,155.0,2140.0,1405.0,900.0,258.0,282.0,1975.0,190.0,156.0,900.0,...,1300.0,56.0,8175.0,2320.0,740.0,10250.0,95.0,206.0,805.0,50.0
2022-11-24,156.0,2180.0,1375.0,915.0,268.0,278.0,1970.0,189.0,151.0,870.0,...,1290.0,55.0,8175.0,2340.0,740.0,10175.0,95.0,210.0,750.0,50.0
2022-11-25,156.0,2130.0,1415.0,910.0,266.0,282.0,1950.0,190.0,149.0,850.0,...,1295.0,55.0,8125.0,2350.0,740.0,10700.0,95.0,210.0,700.0,50.0

In [68]:
los_market_list = result_market_los['Close'].to_frame()
los_market_list

                  Close
Date
2022-11-14  7019.392090
2022-11-15  7035.500000
2022-11-16  7014.383789
2022-11-17  7044.985840
2022-11-18  7082.181152
2022-11-21  7063.247070
2022-11-22  7030.587891
2022-11-23  7054.123047
2022-11-24  7080.515137
2022-11-25  7053.149902

In [67]:
ban_timeline = ban_list[ban_list.columns[0]].keys
los_timeline = los_list[los_list.columns[0]].keys